
body .footer {
    z-index: 1000;
    pointer-events: auto;
    --footer-background: #ffffff;
    display: grid;
    grid-area: footer;
    min-height: 12rem;
}

body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    -webkit-filter: url("#blob");
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}
body .footer .content {
    z-index: 2;
    display: flex;
    padding: 2rem;
    background: var(--footer-background);
    min-width: 100%;
    overflow-x: hidden;
}
body .footer .content a, body .footer .content p {
    color: #230039;
    text-decoration: none;
}
body .footer .content b {
    color: #000000;
}
body .footer .content p {
    margin: 0;
    font-size: .75rem;
}
body .footer .content > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
body .footer .content > div > div {
    margin: 0.25rem 0;
}
body .footer .content > div > div > * {
    margin-right: .5rem;
}
body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@-webkit-keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}
@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}

.bottom-pad {
    height: 50vw;
}

@media (min-width: 767px) {

    .bottom-pad {
        height: 30vw;
    }
}

@media (min-width: 1201px) {

    .bottom-pad {
        height: 20vw;
    }
}

.contact-pad {
    height: 12vw;
}

.bottom-pad {
    height: 20vw;
}

@media (max-width: 768px) {
    .bottom-pad {
        height: 30vw;
    }
}
